<h1><%= @party.party_key %></h1>

<form id="song-add">
  <label>Add Song: <input type="search"/></label>
  <button>Submit</button>
</form>

<ol id="song-playlist">
</ol>

<div id="player"></div>
<button id="start-the-party">START THE PARTAY</button>

<script type="text/javascript">

var button = document.querySelector("#start-the-party")
button.addEventListener("click", function(){
  playSong();
  this.disabled = true;
});

</script>