<h1><%= @party.party_key %></h1>

<form id="song-add">
  <label>Add Song: <input type="search"/></label>
  <button>Submit</button>
</form>

<ol id="song-playlist">
</ol>
<!-- <object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="0" height="1"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs=25133412&style=metal&p=1" /></object>

 -->