<h1>Text <%= @party.party_key %> to 908-300-5599 to Join the Party</h1>
<h2>Then text back with your song requests!</h2>
<form id="song-add">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" id="token">
  <label>Add Song: <input type="search" id="new-song-name"/></label>
  <button>Submit</button>
</form>

<ol id="song-playlist">
</ol>

<div id="player"></div>
<button id="start-the-party">START THE PARTAY</button>

<script type="text/javascript">

var button = document.querySelector("#start-the-party")
button.addEventListener("click", function(){
  playSong();
});

</script>