li {
  -webkit-transition: opacity .25s ease-in;
   -moz-transition: opacity .25s ease-in;
   -o-transition: opacity .25s ease-in;
   -ms-transition: opacity .25s ease-in;
   transition: opacity .25s ease-in;
}